.container-fluid {
  text-align: center;
}

#embed {
  margin-bottom: 7.5%;
}

#embed-1 {
  border-radius: 0.5em;
}

#header {

  font-size: 175%;
  border-radius: 0.5em;
}

.card {
  border: none;
}

#logo {
  width: 75%;
}

#banner {
  width: 50%;
  background: transparent;
  justify-content: center;
}

#purpose_row {
  margin: 2%;
}

#purpose {
  width: 100%;
  background-color: transparent;
}

#subscribe {
  width: 35%;
}

#purpose_title {
  font-size: 50px;
  font-weight: bold;
  background: -webkit-linear-gradient(#e96915, #f0e476);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#purpose_text {
  font-size: 25px;
  font-weight: bold;
}

#purpose_logo {
  width: 40%;
  margin: 1%;
}

#tips_icon {
  width: 20%;
}

#tips_title {
  font-size: 50px;
  font-weight: bold;
  background: -webkit-linear-gradient(#f0e476, #999a9b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2.5%;
}

#tips_text {
  font-size: 20px;
  font-weight: bold;
}


#vault_icon {
  width: 30%;
}

#vault_card {
  width: 100%;
  background-color: transparent;
}

#vault_title {
  font-size: 50px;
  font-weight: bold;
  background: -webkit-linear-gradient(#4299e0, #999a9b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 3%;
}

#vault_text {
  font-size: 35px;
  font-weight: bold;
}

#count_btn {
  width: 35%;
}

#home {
  color:rgb(6, 6, 195);
  text-decoration: none;
  font-size: 85%;

}

#home-icon {
  margin-right: 2%;
}

#home:hover {
  color: #87a2ae;
  cursor: pointer;
}

#login {
  color:rgb(6, 6, 195);
  text-decoration: none;
  font-size: 85%;
}

#login-icon {
  margin-right: 2%;
}

#login:hover {
  color: #87a2ae;
  cursor: pointer;;
}

#signup {
  color:rgb(6, 6, 195);
  text-decoration: none;
  font-size: 85%;
}

#signup-icon {
  margin-right: 2%;
}

#signup:hover {
  color: #87a2ae;
  cursor: pointer;
}

#menu {
  color:rgb(6, 6, 195);
  text-decoration: none;
  font-size: 85%;
}

#menu-icon {
  margin-right: 2%;
}

#menu:hover {
  color: #87a2ae;
  cursor: pointer;
}

#custom {
  color:rgb(6, 6, 195);
  text-decoration: none;
  font-size: 85%;
}

#custom-icon {
  margin-right: 2%;
}

#custom:hover {
  color: #87a2ae;
  cursor: pointer;
}

#vault {
  color:rgb(6, 6, 195);
  text-decoration: none;
  font-size: 85%;
}

#vault-icon {
  margin-right: 2%;
}

#vault:hover {
  color: #87a2ae;
  cursor: pointer;
}

#list {
  margin-right: 0.5%;
}

#link1 {
  color: #61dafb;
  text-decoration: none;
  width: 100%;
}

#link1:hover {
  text-decoration: none;
  color: #f2ed00;
}

#footer-card {
  background: none;
  border: none;
  font-size: 10pt;
}

#footer-title {
  font-size: 90%;
}

#footer {
  border-radius: 0.5em;
  width: 100%;
  height: fit-content;
}

#yelp {
  color: #D22222;
  font-size: 200%;
}

#twitter {
  font-size: 200%;
}

#twitter:hover {
  transition: all 0.3s ease-in-out;
  color: rgba(128, 128, 128, 0.506);
  font-size: 175%;
}

#insta {
  color:  rgb(94, 79, 125);
  font-size: 200%;
}

#insta:hover {
  color: rgba(128, 128, 128, 0.506);
  transition: all 0.3s ease-in-out;
  font-size: 175%;
}

#yelp:hover {
  transition: all 0.3s ease-in-out;
  color: rgba(128, 128, 128, 0.506);
  font-size: 175%;
}

#icon-link {
  margin: 0;
}

#royal-icon {
  width: 15%;
  margin: 1%;
}

#footer-bold {
  margin-bottom: 1%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.accordion {
  background-color: #eee;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: 0;
  padding: 0;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */


/* Style the accordion panel. Note: hidden by default */
.panel {

  background-color: white;
  display: none;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  #menu{
    font-size: 50%;
    margin-left: 10%;
  }

  #vault {
    font-size: 50%;
    margin-left: 10%;
  }

  #home {
    font-size: 50%;
    margin-left: 10%;
  }

  #custom {
    font-size: 50%;
    margin-left: 10%;
  }

  #logo {
    width: 35%;
    float:right
  }

  #yelp {
    font-size: 100%;
  }

  #twitter {
    font-size: 100%;
  }

  #insta {
    font-size: 100%;
  }

  #footer {
    height: fit-content;
  }

  #embed-1 {
    height: 300px;
  }

  #embed {
    height: 300px;
    margin-bottom: 40%;
  }
  .accordion {
    background-color: transparent;
  }

  #footer-bold{
    font-size: 70%;
  }

  #royal-icon {
    width: 12.5%;
  }
}